<!doctype html>
<html>
  <head>
    <style type="text/css" >
    .login-container>li{
      display:inline-block;
    }
    </style>
  </head>
  <body>
    <%-include("../header.ejs") %>
    <ul><%
      var l = matches.length;
      while(l--){
      %><li>
        <a href="/match/<%-matches[l]._id%>">
          <%-matches[l].advertisement%>
        </a>
      </li><%
      }
    %></ul>
  </body>
</html>
