<!doctype html>
<html>
  <head>
    <style type="text/css" >
      .login-container>li{
        display:inline-block;
      }
    </style>
  </head>
  <body>
    <%-include("header.ejs") %>
    <%-include("content.ejs") %>
    <%-include("footer.ejs") %>
  </body>
</html>
