<section id="match_container">
  <div>
    <%-include("form")%>
  </div>
  <%
    var l = playerMatches.length;
    while(l--){
      %><div>
        <iframe src="<%-routePaths.apps+
          '/'+playerMatches[l].gamename+
          '/'+playerMatches[l].id%>"></iframe>
      </div><%
    }
  %>
</section>


<script type="text/javascript">
  var Server = require("Server");
  var url = require("url");
  jQuery(function($){
    var $matches = $("#match_container");
    var $form = $matches.find("form");
    var MatchMaker = new Server("<%-routePaths.apps%>");
    $form.on("submit",function(e){
      e.preventDefault();
      if(!MatchMaker.ready) return;
      data = $form.serialize();
      MatchMaker.get("find", data, function(e,value){
        var frame = $("<div><iframe "+
          "src=\"<%-routePaths.apps%>/"+value.gamename+"/"+value.id+"\""+
          +" ></iframe></div>"
        );
        $matches.append(frame);
      });
    });
    var uri = url.parse(document.location);
    if(!url.search) return;
    $form.unserialize(url.search);
    $form.submit();
  })
</script>
