<!doctype html>
<html>
  <head>
    <%-include("../head.ejs") %>
  </head>
  <body>
    <%-include("../header.ejs") %>
    <iframe src="/apps/<%-theApp.name%>/public" ></iframe>
    <%-include("../footer.ejs") %>
  </body>
</html>
