<!doctype html>
<html>
  <head>
    <%-include("../head.ejs") %>
  </head>
  <body>
    <div>
      <h1>Please Log in</h1>
      <%-include("widget.ejs") %>
    </div>
    <%-include("../footer.ejs") %>
  </body>
</html>
