body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') JS Gaming
      ul.nav.navbar-nav
        li
          a(href="/") chat
        li
          a(href="/info") more info
        li
          if user
            a(href="/auth/logout") Log Out
          else
            a(href="/auth/login") Log In
      div.pull-right
          strong Welcome,
          strong(data-hook="name")
  .container
    main(data-hook="page-container")
